CompileFlags:
  Add: [
    -std=c++23,
    -DENGINE,
    -Isource/Core,
    -Isource/Base,
    -Isource/Shaders/include,
    -Isource/Engine,
    -Isource/Resources,
    -Ideps,
    -Ideps/fastgltf/include,
    -Ideps/spdlog/include,
    -Ideps/glfw/include,
    -Ideps/vma/include,
    -Ideps/fmt/include,
    -Ideps/imgui,
    -Ideps/imgui/backends,
    -Ideps/entt/src,
    -Ideps/stb,
    -Ideps/modules,
    -Ideps/modules/imgui,
    -Ideps/modules/stb,
    -Ideps/fastgltf/deps/simdjson,
    --target=x86_64-w64-windows-gnu,
    -DNRAY_DEBUG,
    -fno-exceptions,
    -Ideps/vulkan_backend/include,
    -Ideps/vulkan_backend/deps/VulkanMemoryAllocator/include,
    -DUSE_MODULES,
    -DVB_USE_STD_MODULE,
    -D_VB_EXT_MODULES,
    -DUSE_VLA,
    -DVB_GLFW,
    -DVB_IMGUI,
    -DVB_VMA_IMPLEMENTATION=0,
    -fprebuilt-module-path=build/win/modules-clangd,
    -Wall,
    -Wimplicit-fallthrough,
    -Wno-pragma-once-outside-header,
    -Wno-missing-designated-field-initializers,
    -Wno-missing-field-initializers,
    -Wno-unused-variable,
    -Wno-unused-parameter,
    -Wno-unused-function,
    -Wno-vla,
  ]