CompileFlags:
	Add: [
		-std=c++20,
		-DENGINE,
		-Isource/Core,
		-Isource/Base,
		-Isource/Shaders,
		-Isource/Engine,
		-Isource/Resources,
		-Ideps,
		-Ideps/fastgltf/include,
		-Ideps/spdlog/include,
		-Ideps/fmt/include,
		-Ideps/imgui,
		-Ideps/imgui/backends,
		-Ideps/entt/src,
		-Ideps/stb,
		-Ideps/fastgltf/deps/simdjson,
		--target=x86_64-w64-windows-gnu,
		-DNRAY_DEBUG,
		-DUSE_MODULES
	]