# *
# !*/
# !*.*
# !Makefile

.vscode/
.vscode/*



my*
*.bmp
bin/
build/
build-linux/
logs/*

*.spv
*.so
*.so.*
*.dll
*.pdb
*.exe
*.o
*.obj
*.res
*.lib
*.a
*.la

*.tmp
*.rej

*.ttf
*.ttc
*.otf

*.ini
*.log

!assets/*
!assets/*/*