# Ignore files without extension
*
!*/
!*.*
!Makefile

.vscode/
.vscode/*


my*
*.bmp
bin/
build/
build-linux/
logs/*

*.spv
*.so
*.so.*
*.dll
*.pdb
*.exe
*.o
*.out
*.d
*.obj
*.res
*.lib
*.a
*.la

*.pcm
*.gcm

*.tmp
*.rej

*.mk

*.ttf
*.ttc
*.otf

*.ini
*.log

!assets/*
!assets/*/*